.aboutME {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  position: relative;
  opacity: 1;
  height: 100vh;
  width: var(--cWidth);
  max-width: 1920px;
  margin: auto;
  z-index: 9;
}

.about-box {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.about-box h2 {
  font-size: calc(4vw + 25px);
  line-height: calc(4vw + 20px);
  font-weight: 800;
  margin-right: 10%;
  margin-bottom: 100px;
}

.bout-h2 {
  font-style: italic;
}

.e-h2 {
  color: var(--accentColor);
}

.about-box-in {
  flex-direction: column;
  height: 650px;
  margin-left: 375px;
  position: relative;
  display: flex;
}

/* Adjust width/height for a single content box */
.about-content {
  width: 600px;
  /* Wider since it's just one box */
  height: 100%;
  /* Full height */
  min-height: 100%;
  transition: 0.5s;
  position: relative;
  padding: 50px;
  box-sizing: border-box;
}

.about-noTouch:hover,
.about-content-active {
  padding: 40px 50px;
}

.about-content h3 {
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
}

.about-content p {
  font-size: 25px;
  /* Slightly larger for readability */
  line-height: 24px;
  font-weight: 200;
  letter-spacing: 0.7px;
}

.about-content h4 {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 14px;
  opacity: 0.3;
}

.about-content-in {
  opacity: 0;
  animation: aboutFlicker 0.5s 1 forwards;
  animation-delay: 1s;
}

@keyframes aboutFlicker {

  0%,
  25%,
  35%,
  60% {
    opacity: 0;
  }

  30%,
  50%,
  40%,
  100% {
    opacity: 1;
  }
}

.about-content::before,
.about-corner::before,
.about-content::after,
.about-corner::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 4px solid #fff;
  opacity: 0;
  animation: aboutCorners 0.2s 1 forwards;
  animation-delay: 0.5s;
}

@keyframes aboutCorners {
  100% {
    opacity: 1;
  }
}

.about-content::before {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}

.about-corner::before {
  top: -2px;
  right: -2px;
  border-left: none;
  border-bottom: none;
}

.about-content::after {
  bottom: -2px;
  left: -2px;
  border-top: none;
  border-right: none;
}

.about-corner::after {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}

.about-arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
}

.about-arrow::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0.5s;
  width: 10px;
  height: 10px;
}

.about-noTouch:hover .about-arrow::before,
.about-content-active .about-arrow::before {
  transform: translate(-50%, -20%) rotate(-225deg);
}

.about-border1 {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  transition: 0.5s;
  max-width: 0%;
  overflow: hidden;
  opacity: 0.8;
  animation: aboutBorders 1.2s 1 forwards;
}

.about-border1 svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

.about-border2 {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  max-height: 0%;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0.8;
  animation: aboutBorders 1.2s 1 forwards;
}

.about-border2 svg {
  height: 650px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.about-content-in {
  height: 100%;
  overflow: hidden;
}

@keyframes aboutBorders {
  80% {
    opacity: 0.8;
  }

  100% {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 1600px) {
  .about-box h2 {
    margin-right: 18%;
  }
}

@media only screen and (max-width: 1400px) {
  .about-box h2 {
    margin-right: 20%;
  }

  .about-box-in {
    height: 400px;
    margin-left: 50px;
  }

  .about-content h3 {
    font-size: 28px;
  }

  .about-content {
    padding: 30px;
    width: 450px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-noTouch:hover,
  .about-content-active {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .aboutME {
    height: auto;
    padding: 50px 0px;
    padding-bottom: 50px;
  }

  .about-box-in {
    height: 500px;
    margin-left: -50px;
  }

  .about-content {
    padding: 50px;
    width: 500px;
  }

  .about-noTouch:hover,
  .about-content-active {
    padding: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .aboutME {
    flex-direction: column;
  }

  .about-box h2 {
    margin: 50px 0;
    font-size: 55px;
    line-height: 53px;
  }

  .about-box:first-child {
    justify-content: left;
  }

  .about-box:last-child {
    height: 500px;
  }

  .about-box {
    width: 500px;
    max-width: calc(100% - 50px);
    margin: auto;
  }

  .about-content {
    width: 100%;
    padding: 30px;
  }

  .about-box-in {
    margin-left: 0px;
    height: 450px;
  }

  .about-noTouch:hover,
  .about-content-active {
    padding: 10px 30px;
  }

  .about-content h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 550px) {
  .aboutME {
    place-items: inherit;
    align-items: start;
    justify-content: left;
  }

  .about-box {
    max-width: calc(100% - 25px);
    margin: 0;
  }
}

@media only screen and (min-width: 1950px) {
  .about-box h2 {
    font-size: 7rem;
    line-height: 6.8rem;
  }
}